doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
		each val in css_to_include
			link(rel="stylesheet" href=val)
	body
		include partials/header.pug
		include partials/nav.pug
		main
			include partials/main.pug
		include partials/aside.pug
		include partials/footer.pug
		each val in js_to_include
			script(src=val)
		
